@font-face {
  font-family: 'Noway Round';
  src: url('../assets/fonts/nowayround-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Noway Round';
  src: url('../assets/fonts/nowayround-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}